:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}


.header {
  background-color: var(--secondary-color);
}

.header {
  padding-top: 40px;
}

.header-container {
  width: 1136px;
  height: 41.82px;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse.active {
  color: var(--branding-color);
  position: relative;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.homepage-link {
  color: var(--branding-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--branding-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

.footer {
  height: 312px;
  display: flex;
  box-sizing: border-box;
}

.footer-logo-container {
  max-width: 264px;
  padding-left: 156px;
  box-sizing: content-box;
}

.footer-soc-container {
  padding-left: 120px;
  max-width: 208px;
  box-sizing: content-box;
}

.footer-soc-list {
  display: flex;
  list-style: none;
  gap: 8px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(108, 99, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-soc-icon {
  color: var(--branding-color);
}

.footer-soc-link:is(:hover, :focus) {
  background: var(--secondary-color);
}